    html {
        background-color: black;
        color: wheat;}
    body {
        margin: 0px;
        padding: 0px;
        min-height: 100vh;
        position: relative;
    }
    div{
        height: 500px;
    }

    h1 {
        text-align: center;
        margin: 10px;
        padding: 5px;
    }
    h2 {
        background-color: darkgrey;
        color: wheat;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }
    nav {
        float: Left;
        background-color: gray;
        color: black;
        width: 40%;
        height: 75%;
        padding: 0px;
        text-indent: 5px;
    }
    section {
        float: Right; 
        background-color: seashell;
        color: black;
        width: 60%;
        height: 75%;
        padding: 0px;
        text-indent: 10px; 
    }
    ol{text-indent: 0px;}
    ul{text-indent: 0px;}
    footer{ 
    color:wheat;
    text-align: center;
    bottom: 20px;
    position: absolute;
    width: 100%;}

    p.Polku{text-align: center;
    background-color:cornflowerblue;
    margin: 20px 20px 20px 20px;}

    a.main{text-decoration: none;
    color: wheat;
    transition: 0.5s;
    }
    a.main:hover{
        color: red;
    }