
html{
    background-color: black;
    color: white;
}

p{
    font-size: 20px;
    color: green;
}

div{
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

ol{
    list-style-type: upper-alpha;
}

ul{
   list-style-type: square; 
}
